{% load static %} 
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nitin Bagde - Personal Website</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="side-ban">
      <h2>Computer Engineer<br> Maharashtra, India</h2>
      <h3>Why me?</h3>
      <h4>Highly motivated with a goal-driven work ethic. Passionate about educating others and leveraging the society in the field of innovation and technology.</h4>
      <div class="wave">
      </div>
    </div>
    <img src="https://avatars.githubusercontent.com/u/95279487?s=400&u=9f339e6c107abf97e0ba892af0c37b99cbb9f452&v=4" height="230" width="230" />
    <div class="tag">
      <h2>Nitin Bagde</h2>
      <h3>Gondia,Maharashtra</h3>
      <h4>
        <div class="fa fa-envelope">
        </div> nitinbagde353@gmail.com
      </h4>
      
    </div>
    <div class="edu-banner">
      <h2><u>EDUCATION</u></h2><img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e2/NIT_Rourkela_Colour_Logo.svg/330px-NIT_Rourkela_Colour_Logo.svg.png" height="60" width="60" />
      <h3>Nit Rourkela (M.Tech.)</h3>
      <h3> Computer Science</h3>
      <h3>GPA: 7.51</h3>
      <h3>MIET Gondia (BE)</h3>
      <h3> Computer Technology</h3>
      <h3>GPA:8.57</h3>
      
      
    </div>
    <div class="skills">
      <h2>My Skills</h2>
      <ul class="b">
        <li>C</li>
        <li>c++</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>machine learning</li>
        <li>Python</li>
        <li>Deep Learning</li>
        <li>Git/GitHub</li>
        <li>SQL</li>
        <li>Leadership</li>
      </ul>
    </div>
    <div class="interest">
      <h2>My Interests</h2>
      <ul class="d">
        <li>Cricket</li>
        <li>badminton</li>
      </ul>
    </div>
  
    <div class="exp">
      <h2><u>&nbsp P R O J E C T</u></h2>
      <h3>
        <ul class="c">
          <li>facial expression recognition<br>(DL,ML,Choregraphe)</li>
          <hr>
          <li>Real Estate Price Prediction<br>(ML,flask,html,css,js)</li>
          <hr>
          <li>Autism recognition(DL,Tensorflow)</li>
          <hr>
          <li>Celebrity Image Classification<br>(ML,Fatkun)</li>
          <hr>
          Potato Disease Classification <br> (DL,Tensorflow)
          <hr>
      </h3>
    </div>
    <div class="contact">
      <a href="https://nitinbagd.github.io/Resume/">
        <h1>My Resume</h1>
      </a>
    </div>
    <div class="side-ban2">
    </div>
    <!--  -->
    <div class="links">
      <h1>Links</h1>
      <hr>
      <a href="https://github.com/NITINBAGD" class="button" style="font-size:30px">GitHub &nbsp;<i class="fa fa-github"></i></a>
      <hr>
      <a href="http://ec2-43-205-139-47.ap-south-1.compute.amazonaws.com/" class="button" style="font-size:30px">Real Estate Price Prediction &nbsp;</a>
      <hr>
      <!-- <a href="https://codepen.io/chandrikadeb7" class="button" style="font-size:30px">Codepen &nbsp;<i class="fa fa-codepen"></i></a> -->
      <!-- <hr> -->
      <a href="https://www.linkedin.com/in/nitin-bagde-bb6757222/" class="button" style="font-size:30px">LinkedIn &nbsp;<i class="fa fa-linkedin"></i></a>
      <hr>
      <a href="https://www.instagram.com/ni3_2301/" class="button" style="font-size:30px">Instagram <i class="fa fa-instagram"></i></a>
      <hr>
    </div>
  </body>
</html>
